<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
<link rel="stylesheet" type="text/css" href="main.css">
<script src = "login.js" type="text/javascript"></script>
<!-- JavaScript -->
<script>
function openNav() {
  document.getElementById("mySidebar").style.width = "200px";
  document.getElementById("main").style.marginLeft = "200px";
}

function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}

document.getElementById('select-all').onclick = function() {
  var checkboxes = document.querySelectorAll('input[type="checkbox"]');
  for (var checkbox of checkboxes) {
    checkbox.checked = this.checked;
  }
}

 function checkAll(checkname, bx) {
        for (i = checkname.length; i--; )
            checkname[i].checked = bx.checked;
    }

    function checkPage(bx){                    
        for (var tbls = document.getElementsByTagName("table"),i=tbls.length; i--; )
            for (var bxs=tbls[i].getElementsByTagName("input"),j=bxs.length; j--; )
               if (bxs[j].type=="checkbox")
                   bxs[j].checked = bx.checked;
    }

    $(function(){
    $( "input[type=checkbox]" ).on("change", function(){
        if($(this).is(':checked'))
            $(this).parent().css('background-color', '#93B5EF');
        else
            $(this).parent().css('background-color', '');
    })
})

</script>
</head>
<body>
<!-- top navigation -->
<div style='background-color: #93B5EF; text-align: center;'>
<button class="topHeader"></button>  
<img src="images/expand.png" class = "imageL" alt="hide menu"  onclick="openNav()">
<img src="images/skse.png" class = "imageL" alt="hide menu">
<img src="images/User.png" alt="Logout" onclick="window.location.href = '/';"  class = "imageR">
<img src="images/task-icon-png-3.png" onclick="window.location.href = '#';" class = "imageR" alt="Task">
<a href="#" >
  <img src="images/notification.png" onclick="window.location.href = '#';" class = "imageR" alt="Notification">
  <!-- <p class="badge">3</p> -->
</a>
</div>
<!-- Sidebar -->
<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  <a href="#">E Tugasan</a>
  <a href="#">E Kehadiran</a>
</div>       


<div id="main">

<div style="box-shadow: 0 8px 6px -6px black;">
<ul>
    <li><a href="#utama">Utama</a></li>
    <li><a  href="/completeProfile">Atur Tugasan</a></li>
    <li ><a href="/pengurusanTugas">Pengurusan Tugas</a></li>  
    <li ><a href="#about">Ketersediaan</a></li>
</ul>

<div class="dropdown">
  <button class="dropbtn">Mesyuarat</button>
  <div class="dropdown-content">
          <a href="/manageMeetingInvitation">Atur Jemputan</a>
          <a class="current" href="/meetingInfo">Minit Mesyuarat</a>
          <a href="/viewMeetingInfo">Senarai Minit Mesyuarat</a>
      </div>  
      </div>
</div>

  <div class="container"> <!-- Form -->
    
  <h2><b>Minit Mesyuarat</b></h2>
  <form action="/viewMeetingInfo" method="POST" id="usrform">
  <div action="/getMeetingInfo" method = "GET">
     <% for(var i =  tasksMgmt.length-1; i > tasksMgmt.length-2; i--) {%>
  <div class="row">
       <div class="col-25">
          <label for="tajuk">Tajuk</label></div>
           <div class="col-75" style="font-size: 15px;">
           <input type="text" name="tajuk" value="<%= tasksMgmt[i].Tajuk %>"></div>
        </div>

  <div class="row">
       <div class="col-25">
          <label for="lokasi">Lokasi</label></div>
           <div class="col-75" style="font-size: 15px;">
           <input type="text" name="lokasi" value="<%= tasksMgmt[i].Lokasi %>"></div>
        </div>

 <div class="row">
       <div class="col-25">
          <label for="timeAndDate">Tarikh & Masa</label></div>
           <div class="col-75" style="font-size: 15px;">
            <input type="text" name="timeAndDate" value="<%= tasksMgmt[i].tarikh %> pada jam <%= tasksMgmt[i].from %> - <%= tasksMgmt[i].to %>">
          </div>
       </div>
   

  <div class="row">
       <div class="col-25">
          <label for="kehadiran">Kehadiran</label></div>
           <div class="col-75" style="font-size: 15px;"><input type="text" name="kehadiran" value="<%= tasksMgmt[i].name1%>"></div>
        </div>

         <% } %>
  </div>
      <table style="margin-top: 50px; width: auto;">
        <tr>
          <th></th>
          <th>Item</th>
          <th>Nota</th>
          <th>Jenis</th>
          <!-- <th>Pemilik</th> -->
          <th>Kesukaran</th>
          <th>Tarikh Akhir</th>
        </tr>
        <tr>         
          <td></td>                                                                                              
          <td><select id="item" name="item" required style="width: 155px; font-size: 12px;">
              <option value="" disabled selected hidden>Info/Keputusan/Tugas</option>
              <option value="Info">Info</option>
              <option value="Keputusan">Keputusan</option>
              <option value="Tugas">Tugas</option>
              </select>
          </td>
          <td><textarea rows="4" cols="50" name="nota" form="usrform" placeholder="Nota" id="nota" style="height: 16px;"></textarea></td>
          <td><select id="jenis" name="jenis" style="width: 200px; font-size: 12px;">
            <option value="" disabled selected hidden>Info/Untuk dilakukan/Selesai</option>
            <option value="Info">Info</option>
            <option value="Untuk dilakukan">Untuk dilakukan</option>
            <option value="Selesai">Selesai</option>
          </select></td>
          <!-- <td><button class="open-button" onclick="openForm()">Pilih</button></td> -->
          <td><select id="tahap" name="tahap" style="width: 155px; font-size: 12px;">
              <option value="" disabled selected hidden>Tahap Kesukaran</option>
              <option value="Tinggi">Tinggi</option>
              <option value="Sederhana">Sederhana</option>
              <option value="Rendah">Rendah</option>
              <option value="Sangat Rendah">Sangat Rendah</option>
              </select>
          </td>
          <td><input type="date" id="tarikh" name="tarikh" style="width: 150px; font-size: 12px;"></td>
        </tr>
      </table>      
      <br>
           <div id="tasksdiv" class="row" style="margin-right: 15%;">
            <input id="tasksbtn" type="submit" value="Hantar"></div>
    </form>

   

</div>
<script type="text/javascript">
  function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
</script>
</body>
</html>