<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
<link rel="stylesheet" type="text/css" href="main.css">
<script src = "login.js" type="text/javascript"></script>
<!-- JavaScript -->
<script>
function openNav() {
  document.getElementById("mySidebar").style.width = "200px";
  document.getElementById("main").style.marginLeft = "200px";
}

function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}

var d = new Date();
document.getElementById("demo").innerHTML = d.getMonth() + 1;
</script>
</head>
<body>

<div style='background-color: #93B5EF; text-align: center;'>
<button class="topHeader"></button>  
<img src="images/expand.png" class = "imageL" alt="hide menu"  onclick="openNav()"   />
<img src="images/skse.png" class = "imageL" alt="hide menu">
<img src="images/User.png" alt="Logout" onclick="window.location.href = '/';" class = "imageR">
<img src="images/task-icon-png-3.png" onclick="window.location.href = '#';" class = "imageR" alt="Task">
<a href="#" >
	<img src="images/notification.png" onclick="window.location.href = '#';" class = "imageR" alt="Notification">
	<!-- <p class="badge">3</p> -->
</a>
</div>
<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  <a href="#">E Tugasan</a>
  <a href="#">E Kehadiran</a>
</div>       

<div id="main"  data-position="header">
	
<div style="box-shadow: 0 8px 6px -6px black;">
<ul>
    <li><a href="#utama">Utama</a></li>
    <li><a  href="/completeProfile">Atur Tugasan</a></li>
    <li ><a href="/pengurusanTugas">Pengurusan Tugas</a></li>  
    <li ><a href="#about">Ketersediaan</a></li>
</ul>

<div class="dropdown">
  <button class="dropbtn">Mesyuarat</button>
  <div class="dropdown-content">
          <a href="/manageMeetingInvitation">Atur Jemputan</a>
          <a href="/meetingInfo">Minit Mesyuarat</a>
          <a class="current" href="/viewMeetingInfo">Senarai Minit Mesyuarat</a>
      </div>  
      </div>
</div>
      <div class="slideshow-container">

        <div class="mySlides fade">
          <table style="width: auto; margin-top: 20px;">
          <tr style="background-color: #F5F5F5; width: auto;">
            <th>Tajuk</th>
            <th>Lokasi</th>
            <th>Tarikh & Masa</th>
            <th>Item</th>
            <th>Nota</th>
            <th>Jenis</th>
            <th>Tahap Kesukaran</th>
            <th>Tarikh Akhir</th> 
          </tr>
          <% for(var i = meetingInfo.length - 1; i >= 0; i--) {%>
        <tr>
          <td><%= meetingInfo[i].tajuk %></td>
          <td><%= meetingInfo[i].Lokasi %></td>
          <td><%= meetingInfo[i].timeAndDate %></td>
          <td><%= meetingInfo[i].item %></td>
          <td><%= meetingInfo[i].nota %></td>
          <td><%= meetingInfo[i].jenis %></td>
          <td><%= meetingInfo[i].tahap %></td> 
           <td><%= meetingInfo[i].tarikh %></td> 
        </tr>
         <% } %>
        </table>
        </div>

    </div> <!--slideshow-->
      <br>

     

</div> <!-- main-->
<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
}
</script>
</body>
</html>
